{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Факультет ИМиКН{% endblock %}

{% block content %}
     <div class="features">
          <h1>Факультет ИМиКН</h1>
          <p>Факультет Информатики, Математики и Компьютерных Наук</p>
          <hr>
     </div>
     <div class="about">
          <h2>О факультете</h2>
          <p>Факультет обеспечивает подготовку кадров высшей квалификации в области информационных технологий и математического моделирования по следующим направлениям:<p>
               <p>- Бизнес-информатика<p>
               <p>- Прикладная математика и информатика<p>
               <p>- Фундаментальная математика<p>
               <p>- Программная инженерия<p>
               <p>Вместе с фундаментальной подготовкой по математике и информатике обучающиеся получают профессиональные экономические и административные знания и навыки, позволяющие успешно работать как в государственных, так и в коммерческих структурах.</p>
     </div>
     <img src="{% static 'main/img/about.png' %}" width="500" height="333" alt="Айти" class="it">
     <hr>
     <div class="bisinf">
          <br><h3>Бизнес-информатика</h3>
          <p>Программа направлена на подготовку специалистов, способных решать проблемы современных организаций в трех проекциях: новые организационные структуры, бизнес-процессы и программные системы.</p>
          <p>Для успешного создания таких решений специалист по бизнес-информатике должен обладать уникальной комбинацией теоретических знаний и практических компетенций в бизнес-администрировании, информационных системах и компьютерных науках</p>
     </div>
     <div class="mathinf">
          <br><h3>Прикладная математика и информатика</h3>
          <p>На рынке труда наблюдается острая  необходимость в людях, которые знают, как использовать информационные технологии для работы с данными. Программа «Прикладная математика и информатика» подготавливает высококвалифицированных и востребованных специалистов в таких областях  как математика, компьютерная наука и программирование.</p>
          <p>Целью программы является подготовка специалистов по работе с данными, аналитиков, исследователей в области компьютерных наук и инженеров-разработчиков и инженеров-исследователей по программному обеспечению.</p>
     </div>
     <div class="math">
          <br><h3>Фундаментальная математика</h3>
          <p>Программа «Математика» направлена на обеспечение фундаментального математического образования и подготовку ученых-исследователей мирового уровня в области чистой математики, а также специалистов в области наукоемких приложений (в первую очередь, программистов и финансистов), а также смежные сферы деятельности (например, биостатистика и Big Data). </p>
          <p>В современном мире математики занимают самые наукоёмкие позиции в IT-компаниях, банковской сфере, управленческих структурах и во многих других областях.</p>
     </div>
     <div class="inf">
          <br><h3>Программная инженерия</h3>
          <p>Образовательная программа «Программная инженерия» направлена на подготовку специалистов в области информационных технологий, разработчиков и архитекторов программного обеспечения.</p>
          <p>Наши студенты за 4 года получают полноценное и современное образование в области компьютерных наук и разработки программного обеспечения.</p>
     </div>
{% endblock %}