{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Для абитуриентов{% endblock %}

{% block content %}
     <div class="features">
          <h1>Для абитуриентов</h1>
          <p>Пройдите тесты и узнайте, с каким направлением обучения факультета ИМиКН Вам стоит подробнее познакомиться!</p>
          <hr>
     </div>
     <figure class="test1">
          <img src="{% static 'main/img/test1.jpg' %}" width="350" height="233" alt="тест1">
          <figcaption>Портретный метод</figcaption>
     </figure>
     <figure class="test2">
          <img src="{% static 'main/img/test2.jpg' %}" width="350" height="233" alt="тест2">
          <figcaption>Метод мгновенного решения</figcaption>
     </figure>
     <figure class="test3">
          <img src="{% static 'main/img/test3.jpg' %}" width="350" height="233" alt="тест3">
          <figcaption>Типологический метод</figcaption>
     </figure>
{% endblock %}